<div x-data="{open: false}" class="fab bottom-20 right-6">
  <!-- a focusable div with tabindex is necessary to work on all browsers. role="button" is necessary for accessibility -->
  <div @click.stop="open = !open" tabindex="0" role="button"
       class="btn btn-lg shadow-xl btn-circle btn-secondary pointer-events-auto active:scale-95 transition-transform">

    <%= helpers.heroicon @icon, class: "size-6" %>
  </div>
  <!-- buttons that show up when FAB is open -->
  <div x-show="open" @click.outside="open = false" x-transition class="flex flex-col items-end">

  <% items.each do |item| %>
    <%= render item %>
  <% end %>
  </div>
</div>
