
<div class="font-medium">
  <div class="inline <%= @label_classes %> p-1 px-2 rounded shadow-md"><%= @label %></div>
<%= link_to @path, class: "btn #{@btn_classes} btn-lg btn-circle shadow-md", aria: { label: @aria_label } do %>
  <%= helpers.heroicon @icon, class: "size-6" %>
<% end %>
</div>
