<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <!-- row 1 -->
    <% shopping_lists.each_with_index do |draft_list, index| %>
      <tr class="">
        <td><%= link_to draft_list.name, shopping_list_path(draft_list), class: "link link-info" %></td>
        <td><%= time_ago_in_words(draft_list.created_at) %></td>
        <td>
          <button onclick="<%= "itemModal#{index}.showModal()" %>" class="btn btn-primary btn-xs">actions</button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% shopping_lists.each_with_index do |draft_list, index| %>
  <%= render "draft_dialog", list: draft_list, index: index %>
  <% end %>
</div>
