
<dialog id="<%= "itemModal#{index}" %>" class="modal">
  <div class="modal-box flex justify-center">
    <%= link_to "Edit", edit_shopping_list_path(list), class: "btn btn-sm btn-primary" %>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
