
<h2 class="text-gray-400 text-lg text-center mt-2">Friend requests</h2>

<ul class="list rounded-box gap-1 p-4">
  <% friend_requests.each do |friend_request| %>
    <li class="grid grid-cols-12 p-4 bg-success/10 rounded-box shadow-sm ">
      <div class="col-span-10 md:col-span-11 flex flex-col gap-4">
        <div class="flex gap-4 items-center">
          <div>
            <img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp"/>
          </div>
          <div>
            <div><%= friend_request.user.email %></div>
            <div class="text-xs uppercase font-semibold opacity-60"></div>
          </div>
        </div>
        <%= button_to t('friendships.actions.accept'), confirm_friendship_path(friend_request), method: :patch, class: "btn btn-xs btn-success w-full" %>
      </div>
      <div class="col-span-2 grid-start-10 md:col-span-1 md:grid-start-11">
        <div class="dropdown dropdown-left dropdown-center">
          <div tabindex="0" role="button" class="btn btn-ghost">
            <%= heroicon "ellipsis-vertical", class: "size-5" %>
          </div>
          <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box gap-6 z-1 p-4 shadow-md">
            <li>
              <%= button_to t('friendships.actions.reject'), friendship_path(friend_request), method: :delete, class: "btn whitespace-nowrap btn-xs btn-warning" %>
            </li>
          </ul>
        </div>
      </div>
    </li>
  <% end %>
</ul>
