<ul class="list bg-base-100 rounded-box shadow-md">

  <% friends.each do |friend| %>
    <li class="list-row">
      <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp"/></div>
      <div>
        <div><%= friend.email %></div>
        <div class="text-xs uppercase font-semibold opacity-60"></div>
      </div>
      <button class="btn btn-square btn-ghost">
        <%= heroicon "user-minus", class: "size-5 text-error" %>
      </button>
    </li>
  <% end %>

</ul>