<li class=" shadow-sm active:bg-primary/50 flex items-center gap-2 rounded-lg justify-between px-4 py-1">
  <div>
    <h2 class="uppercase text-info-content">Milk</h2>
    <p class="text-sm text-info-content/70">
      <%= t("widgets.ai_hints.item.description") %>
    </p>
  </div>
  <button class="btn btn-square btn-ghost">
    <%= heroicon "minus-circle", class: "size-5 text-secondary" %>
  </button>
</li>
