
<ul class="list gap-1 rounded-box py-2 px-4 pt-0">


  <%= render "widgets/ai_hints_item" %>
  <%= render "widgets/ai_hints_item" %>
  <%= render "widgets/ai_hints_item" %>

  <li class="p-4 pb-2 text-xs opacity-60 text-center tracking-wide">AI generated hints</li>
</ul>