<li class=" shadow-sm border-accent active:bg-primary/50 flex items-center gap-2 rounded justify-between px-4 py-1">
  <div>
    <h2 class="uppercase text-base-content-200 font-bold">Milk</h2>
    <p class="text-sm text-base-content/70">
      It's Friday and you usually need milk for your cereal.
    </p>
  </div>
  <button class="btn btn-square btn-ghost">
    <%= heroicon "minus-circle", class: "size-6 text-error" %>
  </button>
</li>
