<div class="text-center py-8 px-4">
  <h1 class="text-2xl font-bold">
    Smart Shopping List
  </h1>
  <p>
    Shopping made simple for the people you love. Share lists, shop together, and let AI handle the rest.
  </p>


<%= form_with url: shopping_lists_path, method: :post, scope: :shopping_list_item, class: "flex gap-2 items-center mt-8 justify-center" do |f| %>
  <%= f.label :name, class: "floating-label" do %>
    <span>What's running low? 🛒</span>
    <%= f.text_field :name, placeholder: "Add an item...", autofocus: true, required: true, autocomplete: "off", class: "input input-sm input-secondary" %>
    <% end %>
    <%= f.submit "Add", class: "btn btn-xs btn-secondary" %>
<% end %>
</div>
