<div class="p-8">
  <h1 class="text-3xl font-bold mb-4">SmartCart</h1>

  <h2 class="text-red-600">Wygląda, że działą</h2>

  <div role="alert" class="alert alert-success mb-4">
    <span>Tailwind + DaisyUI działa!</span>
  </div>

  <button class="btn btn-primary">Primary button</button>
  <button class="btn btn-secondary ml-2">Secondary button</button>

  <div class="card bg-base-100 shadow-xl mt-8 w-96">
    <div class="card-body">
      <h2 class="card-title">Karta testowa</h2>
      <p>Jeśli to wygląda ładnie, wszystko działa.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>