@plugin "daisyui" {
    themes: bumblebee --default, dark --prefersdark;
}

@custom-variant screen-short (@media( max-height: 550px));

@layer utilities {
    .dock > .dock-active {
        &::after {
            @apply bg-secondary/50;
        }
    }
}


@utility dock-2xs {

    height: theme(spacing.10); /* odpowiednik @apply h-10 */

    & > :where(button, a, label) {
        gap: theme(spacing[0.5]); /* @apply gap-0.5 */

        & > :where(svg) {
            width: 1em;
            height: 1em;
            display: none;
        }

        & > .dock-label {
            /*display: none;*/
        }
    }

    & > .dock-active {
        @apply bg-secondary/50;
        color: theme(colors.secondary-content);

        &::after {
            display: none;
        }
    }
}
